<div class="row">
    <div class="col-sm-4">
        <h3>Seleccione archivos</h3>
        <div appNgDropFiles [imagenes]="imagenes" (dropFilesHover)="isDropFileHover = $event" [ngClass]="{ 'file-over': isDropFileHover }" class="drop-zone">
            <h4>Deje caer los archivos aquí</h4>
            <img src="./assets/img/drop-images.png">
        </div>
    </div>
    <div class="col-sm-8">
        <h4>Cargar archivos</h4>
        <button (click)="cargarImagenes()" [disabled]="imagenes.length === 0" class="btn btn-success">Cargar a Firebase</button>&nbsp;
        <button (click)="limpiarImagenes()" class="btn btn-danger">Limpiar</button>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Tamaño</th>
                    <th>Progreso</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let imagen of imagenes">
                    <td [ngClass]="{ 'text-green': imagen.progreso >= 100 }">{{ imagen.nombreArchivo }}</td>
                    <td>{{ imagen.archivo.size / 1024 / 1024 |number: '.2-2' }} MB</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': + imagen.progreso + '%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>